{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}



    <h1>Bienvenue sur le site de tests</h1> 

    <h1 class="h1 mb-3 font-weight-normal"> </h1>
    <h1 class="h1 mb-3 font-weight-normal"> <img width="200" src="images/test.jpg" /></h1>
    
    
    
{% endblock %}

