{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}

    
    <div class="wrapper" style="text-align: center">
        <br /><br />
        <h1 style="color: #3c763d">Accueil</h1>
        <br/><br/>


            <div class="title">
                <h2>Bienvenue sur ConsoLeaf</h2>

                <br/><br/>

                <img src="images/cii.jpg" width="20%">
            </div>






    </div>




{% endblock %}

