{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Ma consommation en graphiques {% endblock %}

{% block contenu %}

    <div class="wrapper" style="text-align: center"> 
        <div class="row">
            <br/><br/>

            <h1 style="color: ">Ma consommation en graphiques :</h1>
            <nav aria-label="navigation"> Recliquez après chaque changement.<br/> Afficher un graphique par : 
                <ul class="pager">
                    <li id="btannee"><a title="Annuelle" >Annuelle</a>     </li>
                    <li id="btmois"><a title="Journal" >Journalière</a>     </li>
                </ul>
            </nav>



        </div>





        <div class="row">



            <!-- DÉBUT DE L'Affichage des graphiques : -->


            <!-- Graphique pour les années (voir les statistiques par mois de l'année X) -->
            <div style="overflow-x:auto;">
                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph">
                        <img width=600 src="data:image/png;base64, {{ graph }}" alt="" />
                    </div>

                </div>
            </div>

            <!-- Graphique pour les mois (voir les statistiques par jours du mois X) -->
            <div style="overflow-x:auto;">
                <div class="col-lg-8 col-sm-12">

                    <div class="form-group" id="graph2">
                        <img width=600 src="data:image/png;base64, {{ graph2 }}" alt="" />
                    </div>

                </div>
            </div>

            <!-- FIN DE L'Affichage des graphiques -->


        </div>
    </div>



    <br/><br/><br/>



{% endblock %}    